@using Dojoachi.Models
@model Buddy

<div class="header">
    <h2>Dojodachi: @ViewBag.playName</h2>
    <h4>Fullness: @Model.Fullness</h4>
    <h4>Happiness: @Model.Happiness</h4>
    <h4>Meals: @Model.Meals</h4>
    <h4>Energy: @Model.Energy</h4>
</div>